@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

/* Move nav to the right of the header */
.header nav {
    margin-left: auto;
}

/*Challenge 2 Adding to stats container */
.stats-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}
/* Challenge 2 Adding hover shawdow */
.stats-container:hover {
    box-shadow: 0 0 50px #90d5ff;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}


button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

/* Add hover effect for buttons */
button:hover {
    background-color: #d3d3d3; /* Change to a darker blue */
}

html {
  scroll-behavior: smooth;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: black;
  background-color: #a8b0bc;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid #6a6a6a;
}

nav a:hover {
  background-color: #d3d3d3;
}